/* CART PAGE*/

.cart-page {
    padding: 2rem;
  }
  
  .cart-page h1 {
    font-family: var(--bodyfonts);
  }
  
  .cart-page .item { 
    display: flex;
    padding-left: 4rem;
    border-radius: 5rem;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    background-color: rgba(67, 28, 28, 0.083);
    margin-bottom: 2rem;
    gap: 1rem;
  }
  
  .cart-page .cart-item-image img {
    width: 20rem;
    height: 20%;
    object-fit: cover;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
  }
  
  .cart-page .cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .cart-page .cart-items-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  
  }
  
  .cart-page .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: flex-start;
  }
  
  .cart-page .cart-item-name p,
  .cart-page .cart-item-price p {
      margin: 0;
  }
  
  .cart-page .cart-items-quantity span {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    background-color: var(--color);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
  }
  
  .cart-page .cart-page-total {
    margin-top: 2rem;
    padding: 1rem;
    padding-left: 4rem;
    background-color: var(--purchase);
    color: white;
    border-radius: 6px;
  }
  
  /* CART PAGE - FORM VALIDATION */
  .checkout-form {
    width: 70%;
  }
  
  .checkout-form input {
    width: 100%;
    border: 2px solid var(--color);
    border-radius: 6px;
    font-family: var(--bodyfonts);
    font-size: 2rem;
    margin-bottom: 1rem;
    outline: none;
  }
  
  .checkout-form input:focus {
    border: 2px solid var(--purchase)
  }
  
  .checkout-form {
    display: none;
    padding: 2rem;
  }
  
  .checkout-form.active {
    display:block;
  }
  
  .confirmation-box {
    background-color: rgba(67, 28, 28, 0.083);
    padding: 2rem;
    border-radius: 6px;
  }
  
  .confirmation-box h2, p, button{
    margin-left: 2rem;
  }
  
  .confirmation-box h2{
    font-size: 50px;
  }
  
  