

body{
    min-height: 100vh; /* ensure content takes up entire screen */
    font-family: Be Vietnam Pro; /* setting up font */
}

.navbar {
    margin-right: 10px;
}


.logo {
    position: absolute;
  left: 50%; /* centering logo */
  transform: translateX(-50%);
}

.navbar ul { /* nav bar alignment */
    list-style: none; 
    display:flex; /* make objects sit side by side */
    justify-content: flex-end; /* position other content to right hand side */
    gap: 2%; /* space conteent */
}

.navbar a {
    text-decoration: none; /* remove underline */
    color: rgb(65, 16, 16);;
}

.hero {
    display: flex; /* make objects sit side by side */
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding: 0;
    color: rgb(65, 16, 16);;
    position: relative;
    overflow: hidden;
    height: 50vh;
  }

  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: 50% 70%
  }

  .heroContent {
    position: absolute;
    margin-left: 10%;
    top: 10%;
  }


h1 {
    font-family: antic-didone;
    font-weight: 200;
    font-style: normal;
    font-size: 80px;
    color:rgb(65, 16, 16);;
}

.heroContent h1 {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .heroContent p {
    margin-bottom: 0px;
    margin-top: 0px;
  }  

  button { /* button styling */
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px 28px;
  
    background-color: white;
    color: rgb(65, 16, 16);;
  
    border: 1px solid rgb(65, 16, 16); ;
    border-radius: 6px;
  
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 15px;
    font-weight: 500;
  
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover { /* button hover effect */
    background-color: rgb(65, 16, 16); ;;
    color: white;
    border: 1px solid rgb(65, 16, 16); ;;
  }

/* promotion squares */
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* create 4 columns */
    gap: 20px;
    padding: 60px 5px;
  }

  .card {
    aspect-ratio: 1 / 1; /* make square */
    position: relative;
    overflow: hidden;
    background-color: rgb(65, 16, 16);
  }

  .card h3 { 
    position: absolute;
    top: 20px;
    left: 0px;
    right: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    color: white;
    font-size: 80px;
    text-align: left;
    margin: 0;
  }

  .card p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    color: white;
  }

  .photoCard img {
    aspect-ratio: 1 / 1; /* make square */
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /* Further info section */
  .FurtherInfo { /* gap between side-by-side columns */
    display: flex;
    gap: 40px; 
  }

  .quizContent { /* hide overfill and size image */
    height: 70vh;
    width: 60%;
    flex-shrink: 0; /* prevent resizing */
    overflow: hidden;
    position: relative;
  }

  .quizContent img { /* image behaves like a background */
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .textOverlay { 
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 50px;
    line-height: 1.2;
    color: white;
    width: 40%;
  }

  .textOverlay h2{
    margin-top: 0;
    margin-bottom: 0;
  }

  .furtherText {
    width: 40%;
    text-align: center;
    padding: 2rem;
    margin: 0;
    color: rgb(65, 16, 16) ;
  }

  .furtherText img {
    width: 80%;
    padding: 2rem;
  }